<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="online.rubick.applications.dao.rubick.FilesCommentMapper" >
  <resultMap id="BaseResultMap" type="online.rubick.applications.entity.rubick.FilesComment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="file_code" property="fileCode" jdbcType="VARCHAR" />
    <result column="comment_user" property="commentUser" jdbcType="VARCHAR" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, file_code, comment_user, comment_content, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from files_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from files_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="online.rubick.applications.entity.rubick.FilesComment" >
    insert into files_comment (id, file_code, comment_user, 
      comment_content, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{fileCode,jdbcType=VARCHAR}, #{commentUser,jdbcType=VARCHAR}, 
      #{commentContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="online.rubick.applications.entity.rubick.FilesComment" >
    insert into files_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileCode != null" >
        file_code,
      </if>
      <if test="commentUser != null" >
        comment_user,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fileCode != null" >
        #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="commentUser != null" >
        #{commentUser,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.rubick.applications.entity.rubick.FilesComment" >
    update files_comment
    <set >
      <if test="fileCode != null" >
        file_code = #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="commentUser != null" >
        comment_user = #{commentUser,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.rubick.applications.entity.rubick.FilesComment" >
    update files_comment
    set file_code = #{fileCode,jdbcType=VARCHAR},
      comment_user = #{commentUser,jdbcType=VARCHAR},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>