<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="online.rubick.applications.dao.rubick.FilesMapper" >
  <resultMap id="BaseResultMap" type="online.rubick.applications.entity.rubick.Files" >
    <id column="file_code" property="fileCode" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="extension" property="extension" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    file_code, file_name, group_id, status, user_id, extension, file_url, size, title, 
    remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from files
    where file_code = #{fileCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from files
    where file_code = #{fileCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="online.rubick.applications.entity.rubick.Files" >
    insert into files (file_code, file_name, group_id, 
      status, user_id, extension, 
      file_url, size, title, 
      remark, create_time, update_time
      )
    values (#{fileCode,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{userId,jdbcType=VARCHAR}, #{extension,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="online.rubick.applications.entity.rubick.Files" >
    insert into files
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileCode != null" >
        file_code,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="extension != null" >
        extension,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileCode != null" >
        #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="extension != null" >
        #{extension,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.rubick.applications.entity.rubick.Files" >
    update files
    <set >
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="extension != null" >
        extension = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where file_code = #{fileCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.rubick.applications.entity.rubick.Files" >
    update files
    set file_name = #{fileName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      extension = #{extension,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where file_code = #{fileCode,jdbcType=VARCHAR}
  </update>
  <select id="selectByGroupId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from files
		where group_id = #{groupId,jdbcType=VARCHAR}
		and status != '0'
  </select>
  
  <update id="updateFilesGroupId">
    update files
    set group_id = #{newGroupId,jdbcType=VARCHAR},
    where group_id = #{oldGroupId,jdbcType=VARCHAR}
  </update>
</mapper>