<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="online.rubick.applications.dao.sys.SysCatalogMapper">
	<resultMap id="BaseResultMap"
		type="online.rubick.applications.entity.sys.SysCatalog">
		<id column="id" property="id" jdbcType="TIMESTAMP" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="surper_id" property="surperId" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, surper_id, description, create_time, status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.util.Date">
		select
		<include refid="Base_Column_List" />
		from sys_catalog
		where id = #{id,jdbcType=TIMESTAMP}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.util.Date">
		delete from
		sys_catalog
		where id = #{id,jdbcType=TIMESTAMP}
	</delete>
	<insert id="insert" parameterType="online.rubick.applications.entity.sys.SysCatalog">
		insert into sys_catalog (id,
		name, surper_id,
		description, create_time, status
		)
		values
		(#{id,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR},
		#{surperId,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="online.rubick.applications.entity.sys.SysCatalog">
		insert into sys_catalog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="surperId != null">
				surper_id,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="surperId != null">
				#{surperId,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="online.rubick.applications.entity.sys.SysCatalog">
		update sys_catalog
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="surperId != null">
				surper_id = #{surperId,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=TIMESTAMP}
	</update>
	<update id="updateByPrimaryKey" parameterType="online.rubick.applications.entity.sys.SysCatalog">
		update sys_catalog
		set name = #{name,jdbcType=VARCHAR},
		surper_id =
		#{surperId,jdbcType=VARCHAR},
		description =
		#{description,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=VARCHAR}
		where id = #{id,jdbcType=TIMESTAMP}
	</update>
</mapper>