<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letsiot.applications.dao.sys.SysUserLogMapper">
	<resultMap id="BaseResultMap" type="com.letsiot.applications.entity.sys.SysUserLog">
		<id column="LOG_ID" property="logId" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="ACTION" property="action" jdbcType="VARCHAR" />
		<result column="LOG_TIME" property="logTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.letsiot.applications.entity.sys.SysUserLog">
		<id column="LOG_ID" property="logId" jdbcType="VARCHAR" />
		<id column="LOGIN_ID" property="logUser" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="ACTION" property="action" jdbcType="VARCHAR" />
		<result column="LOG_TIME" property="logTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		LOG_ID,USER_ID ACTION, LOG_TIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_user_log
		where LOG_ID = #{logId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_user_log
		where LOG_ID = #{logId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.letsiot.applications.entity.sys.SysUserLog">
		insert into sys_user_log (LOG_ID,USER_ID, ACTION, LOG_TIME)
		values (#{logId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{action,jdbcType=VARCHAR}, #{logTime,jdbcType=TIMESTAMP})
	</insert>
	<select id="selectUserLogByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		LOG_ID,USER_ID ,ACTION, LOG_TIME
		from sys_user_log where USER_ID=#{userId,jdbcType=VARCHAR} ;
	</select>
	
	
	<select id="getSysUserLogByUserId" parameterType="java.lang.String"
		resultMap="BaseResultMap2">
		SELECT s.LOG_ID, s.USER_ID, s.ACTION, s.LOG_TIME,u.LOGIN_ID 
		from sys_user_log s ,sys_user u 
		where u.USER_ID = s.USER_ID
		<if test="userId != null">
			and s.USER_ID=#{userId,jdbcType=VARCHAR}
		</if>
		<if test="logUser != null">
			and u.LOGIN_ID like '%${logUser}%'
		</if>
		order by s.LOG_TIME desc
	</select>
</mapper>